table, td, th {
  border: 1px solid black;
}

header {
  border-style: color black solid; 
  height: 200px;
  width: 1000px;
}

header a {
  font-size: 2rem;
  text-decoration: none;
  color: darkolivegreen;
}

header img {
  height: 100px;
  display: flex;
  flex-direction:initial
}

main {
  background-color: darkgoldenrod;
  height: 500px;
  width: 1000px;
}

footer {
  background-color: burlywood;
  height: 300px;
  width: 1000px;
}

h2 {
  font-size: 3rem;
}

li {
  display: flex;
  flex-direction: row;
}